body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* disable menu text selection styles */
.ant-menu *::selection {
  background: inherit;
  color: inherit;
}

.ant-layout-header {
  height: auto;
  margin-bottom: 1em;
  padding: 0;
}

.ant-layout-content > .ant-card,
.ant-layout-content > .ant-list-grid {
  margin: 0 1em 1em;
}
